* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
  background-color: #16a085;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  width: 600px;
  padding: 30px 50px;
  background-color: #fff;
  color: #16a085;
  position: relative;
  border-radius: 5px;
}

h1 {
  margin-bottom: 20px;
}

#text {
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 1.5;
}

#author {
  text-align: right;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 24px;
}

button {
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  border: none;
  cursor: pointer;
  background-color: #16a085;
  padding: 8px 16px;
  border-radius: 5px;
}

#tweet-quote {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: #444;
}
